We have 3 data sets, the first thing that we have to do is identify which rows of those data sets we will be using. The data set titled NBA_season1718_salary has player salaries for the year of 2017-2018. Because of this, our first model will focus on salaries for the that year. Then we start by looking at which players in this data set are repeated in the other two. Then we can focus on these players and the data available in the other two data sets to create our first model.

In [ ]:
# We start by importing our data sets
import pandas as pd
import numpy as np

salaries = pd.read_csv("data/NBA_season1718_salary.csv")
playerData1 = pd.read_csv("data/Players.csv")
playerData2 = pd.read_csv("data/Seasons_Stats.csv")
playerData3 = pd.read_csv("data/player_data.csv")

salaries.head()
playerData1.head()
playerData2.head()
playerData3.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [17]:
# Lets get a list of the unique players in each of the data sets
uniqueSalaries = salaries["Player"].unique()
uniquePlayers1 = playerData1["Player"].unique()
uniquePlayers2 = playerData2["Player"].unique()
uniquePlayers3 = playerData3["name"].unique()

# This is a function that given two lists returns a list of the
# elements common amongst
def elemInComm(l1, l2):

  l1.sort()
  l2.sort()
  print(l1)
  print(l2)
  l3 = []
  while (len(l1) >= 0 and len(l2) >= 0):
    if (l1[0] == l2[0]):
      l3 += l1[0]
      l1 = l1[1:]
      l2 = l2[1:]
    #elif (l1[0] > l2[0]):

elemInComm(uniqueSalaries, uniquePlayers1)

TypeError: '<' not supported between instances of 'float' and 'str'